name: main
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'action.yml'
      - 'dist/*'
      - '.github/workflows/main.yml'
      - 'esbuild.ts'
      - 'package.json'

permissions:
  contents: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Install Node.js
      uses: actions/setup-node@v6
      with:
        node-version: lts/*
        registry-url: https://registry.npmjs.org

    - uses: pnpm/action-setup@v4
      name: Install pnpm
      id: pnpm-install
      with:
        version: 10

    - name: Get pnpm store directory
      id: pnpm-cache
      shell: bash
      run: |
        echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

    - uses: actions/cache@v4
      name: Setup pnpm cache
      with:
        path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
        key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pnpm-store-

    - name: Install dependencies
      run: pnpm install

    - name: Run npm build
      run: pnpm run build

    - name: Update git
      run: |
        git config user.name "GitHub Actions Bot"
        git config user.email "andreigec+analytica@hotmail.com"
        git add --force dist || true;
        git commit -m "updated dist (CI)" || true;
        git push || true;

    - name: Release
      run: >-
        gh release delete v2 --cleanup-tag -y || true;
        gh release create v2
        --generate-notes
        --title "Version ${{ github.ref_name }}"
